# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.whl

# Виртуальное окружение
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Django
*.log
media/
staticfiles/

# Переменные окружения
.env

# Docker
*.pid
